<p><%= link_to 'Store', stores_path%></p>
<p><%= link_to 'Store Type', store_types_path %></p>
<p><%= link_to 'Store Category', store_categories_path%></p>
<p><%= link_to 'Store Items', store_items_path%></p>